@charset "UTF-8";
@import "materialize.scss";

@font-face {
	font-family: 'DIN Alternate';
	src: url('./fonts/DIN Alternate Bold.ttf');
	font-weight: 'Bold';
}
$primart-color: #1F871E;

.agroweather {
	color: $primart-color;
}

.signup-box {
	background-color: white;
	border: 1px solid #edeeee;
	border-radius: 3px;
	padding: 10px 0;
	text-align: center;
}

.nav-wrapper {
	background-color: $primart-color;
}

body {
	font-family: DIN Alternate;
	background: #fafafa;
}

.brand-logo {
	margin-left: 10px;
}
