@charset "UTF-8";

@import "materialize.scss";

@font-face {
	font-family: 'DIN Alternate';
	src: url('./fonts/DIN Alternate Bold.ttf');
	font-weight: 'Bold';
}

.barra-lateral {
	border-style: solid;
	overflow-y: scroll;
	overflow-x:hidden;
	height: 100px;
	width: 300px;

}

.nav-wrapper {
	background-color: #1F871E;
}

body {
	font-family: DIN Alternate;
}

.brand-logo {
	margin-left: 10px;
}
